{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11" // or any older browser/environment you want to support
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-typescript"
    ]
}
